.col-md-4 {
margin-bottom: 100px;
}

#fh5co-header {
 background-color: transparent;
 position: relative;
 margin-top: 0px;
}

#fh5co-header .navbar-brand{
 color: #00a398 !important;
}

.listItems {
 margin: 30px 0 20px 0;
}
